<h1>Listing Fingerprints</h1>


 <!-- projects/index.rhtml -->
<% form_tag fingerprint_matches_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<br/>
<br/>

<%= page_entries_info @fingerprint_matches %><br />
  <table>
  <th>
     <tr>
       <%= sort_header_tag('email_id',{ :page => params[:page], :n => params[:n], :order => params[:order]}) %>
       <%= sort_header_tag('fingerprint_id', {:page => params[:page], :n => params[:n], :order => params[:order]}) %>
       <td> count </td>
     </tr>
 </th>
<%= will_paginate @fingerprint_matches, :previous_label => "Newer", :next_label => "Older", :reverse => true, :page_links => true %>
<%= render :partial => 'fingerprint_match', :collection => @fingerprint_matches %>
   </table>
