<h1>Listing Tuna</h1>


 <!-- projects/index.rhtml -->
<% form_tag emails_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<br/>
<br/>

<%= page_entries_info @emails %><br />
  <table>
  <th>
     <tr>
       <%= sort_header_tag('domain',{ :page => params[:page], :n => params[:n], :order => params[:order]}) %>
       <%= sort_header_tag('Path', {:page => params[:page], :n => params[:n], :order => params[:order]}) %>
       <%= sort_header_tag('distance', {:page => params[:page], :n => params[:n], :order => params[:order]}) %>
       <%= sort_header_tag('updated_at',{:page => params[:page], :n => params[:n], :order => params[:order]}) %>
     </tr>
 </th>
<%= will_paginate @emails, :previous_label => "Newer", :next_label => "Older", :reverse => true, :page_links => true %>
<%= render :partial => 'email', :collection => @emails %>
   </table>
<br />
<br />
<%= link_to 'New email', new_email_path %><br />


