<% @mail_object = Mail.new(@email.fulltext); nil %>

<p>
  <b>Bounced:</b>
  <%=h     @mail_object.bounced?.to_s %>
</p>

<p>
  <b>Fingerprints:</b><br/>
  <ul>
  <% @email.fingerprint_matches.each do |match| %>
  <li><a href=<%=h fingerprint_match_path(@match)%>><%=h match.fingerprint.name + " (/" + match.fingerprint.regex + "/)"%></a></li>
  <% end %>
  </ul>
</p>

<p>
  <b>Path:</b>
  <%=h 	@email.path.split(" ").reverse.join (" -> ") %>
</p>

<p>
  <b>MX Records (Forward DNS):</b>
  <%=h @email.grab_mx  %>
</p>

<p>
  <b>Subject:</b>
  <%=h @mail_object.subject %>
</p>

<p>
  <b>From:</b>
  <%=h @mail_object.from %>
</p>

<p>
  <b>To:</b>
  <%=h @mail_object.to %>
</p>

<p>
  <b>Header:</b>
  <pre>
  <%=h @mail_object.header.to_s %>
  </pre>
</p>

<p>
  <b>Text:</b>
  <pre>
  <%=h @email.fulltext %>
  </pre>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
